flows:
  - id: Order to Confirm to Fulfillment (City Based)
    tags: ["PRAMAAN", "MANDATORY","WORKBENCH"]
    description: Get a list of all the accommodations with delta changes
    sequence:
      - key: search_1
        type: search
        unsolicited: false
        pair: on_search_1
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
      - key: on_search_1
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: select_1
        type: select
        unsolicited: false
        pair: on_select_1
        owner: BAP
        expect: false
      - key: on_select_1
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: init_1
        type: init
        unsolicited: false
        pair: on_init_1
        owner: BAP
        expect: false
      - key: on_init_1
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm_1
        type: confirm
        unsolicited: false
        pair: on_confirm_1
        owner: BAP
        expect: false
      - key: on_confirm_1
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: status_1
        type: status
        unsolicited: false
        pair: on_status_1
        owner: BAP
        expect: false
      - key: on_status_1
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false  
  - id: Incremental Catalog refresh
    tags: ["PRAMAAN", "MANDATORY","WORKBENCH"]
    description: Get a list of all the accommodations with delta changes
    sequence:
      - key: search_1
        type: search
        unsolicited: false
        pair: on_search_1
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
      - key: on_search_1
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: search_2
        type: search
        unsolicited: false
        pair: on_search_2
        owner: BAP
        expect: true
      - key: on_search_2
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false    

  - id: Order to Confirm to Fulfillment (Time range Based)
    tags: ["PRAMAAN", "OPTIONAL","WORKBENCH"]
    description: Get a list of all the accommodations with delta changes
    sequence:
      - key: search_3
        type: search
        unsolicited: false
        pair: on_search_3
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
          - name: start_time
            label: Enter start time (check in)
            type: text
            payloadField: $.message.intent.category.time.range.start
          - name: end_time
            label: Enter end time (check out)
            type: text
            payloadField: $.message.intent.category.time.range.end

      - key: on_search_3
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: select_3
        type: select
        unsolicited: false
        pair: on_select_3
        owner: BAP
        expect: false
      - key: on_select_3
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: init_3
        type: init
        unsolicited: false
        pair: on_init_3
        owner: BAP
        expect: false
      - key: on_init_3
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm_3
        type: confirm
        unsolicited: false
        pair: on_confirm_3
        owner: BAP
        expect: false
      - key: on_confirm_3
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: status_3
        type: status
        unsolicited: false
        pair: on_status_3
        owner: BAP
        expect: false
      - key: on_status_3
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false  
  - id: Order to Confirm to Fulfillment (Provider Specific)
    tags: ["PRAMAAN", "OPTIONAL","WORKBENCH"]
    description: Get a list of all the accommodations with delta changes
    sequence:
      - key: search_4
        type: search
        unsolicited: false
        pair: on_search_4
        owner: BAP
        expect: true
        input:
          - name: provider_id
            label: Enter provider id
            type: text
            payloadField: $.message.intent.provider.id
          - name: provider_name
            label: Enter provider name
            type: text
            payloadField: $.message.intent.provider.descriptor.name
          - name: start_time
            label: Enter start time (check in)
            type: text
            payloadField: $.message.intent.provider.time.range.start
          - name: end_time
            label: Enter end time (check out)
            type: text
            payloadField: $.message.intent.provider.time.range.end
      - key: on_search_4
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: select_4
        type: select
        unsolicited: false
        pair: on_select_4
        owner: BAP
        expect: false
      - key: on_select_4
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: init_4
        type: init
        unsolicited: false
        pair: on_init_4
        owner: BAP
        expect: false
      - key: on_init_4
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm_4
        type: confirm
        unsolicited: false
        pair: on_confirm_4
        owner: BAP
        expect: false
      - key: on_confirm_4
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: status_4
        type: status
        unsolicited: false
        pair: on_status_4
        owner: BAP
        expect: false
      - key: on_status_4
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false  
  - id: Order to Confirm to Fulfillment (Part Payment)
    tags: ["PRAMAAN", "OPTIONAL","WORKBENCH"]
    description: Get a list of all the accommodations with delta changes
    sequence:
      - key: search_1
        type: search
        unsolicited: false
        pair: on_search_1
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
          - name: start_gps
            label: Enter start gps coordinates
            type: text
            payloadField: $.message.intent.fulfillment.stops[?(@.type=='START')].location.gps
          - name: end_gps
            label: Enter end gps coordinates
            type: text
            payloadField: $.message.intent.fulfillment.stops[?(@.type=='END')].location.gps
      - key: on_search_1
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: select_1
        type: select
        unsolicited: false
        pair: on_select_1
        owner: BAP
        expect: false
      - key: on_select_1
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: init_1
        type: init
        unsolicited: false
        pair: on_init_1
        owner: BAP
        expect: false
      - key: on_init_1
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm_1
        type: confirm
        unsolicited: false
        pair: on_confirm_1
        owner: BAP
        expect: false
      - key: on_confirm_1
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: status_1
        type: status
        unsolicited: false
        pair: on_status_1
        owner: BAP
        expect: false
      - key: on_status_1
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false  
  - id: Buyer side full cancellation
    tags: ["PRAMAAN", "MANDATORY","WORKBENCH"]
    description: Get a list of all the accommodations with delta changes
    sequence:
      - key: search_1
        type: search
        unsolicited: false
        pair: on_search_1
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
          - name: start_gps
            label: Enter start gps coordinates
            type: text
            payloadField: $.message.intent.fulfillment.stops[?(@.type=='START')].location.gps
          - name: end_gps
            label: Enter end gps coordinates
            type: text
            payloadField: $.message.intent.fulfillment.stops[?(@.type=='END')].location.gps
      - key: on_search_1
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: select_1
        type: select
        unsolicited: false
        pair: on_select_1
        owner: BAP
        expect: false
      - key: on_select_1
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: init_1
        type: init
        unsolicited: false
        pair: on_init_1
        owner: BAP
        expect: false
      - key: on_init_1
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm_1
        type: confirm
        unsolicited: false
        pair: on_confirm_1
        owner: BAP
        expect: false
      - key: on_confirm_1
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: status_1
        type: status
        unsolicited: false
        pair: on_status_1
        owner: BAP
        expect: false
      - key: on_status_1
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: cancel
        type: cancel
        unsolicited: false
        pair: on_cancel
        owner: BAP
        expect: false
      - key: on_cancel
        type: on_cancel
        unsolicited: false
        pair: null
        owner: BPP
        expect: false 
  - id: Merchant side full cancellation
    tags: ["PRAMAAN", "MANDATORY","WORKBENCH"]
    description: Get a list of all the accommodations with delta changes
    sequence:
      - key: search_1
        type: search
        unsolicited: false
        pair: on_search_1
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
          - name: start_gps
            label: Enter start gps coordinates
            type: text
            payloadField: $.message.intent.fulfillment.stops[?(@.type=='START')].location.gps
          - name: end_gps
            label: Enter end gps coordinates
            type: text
            payloadField: $.message.intent.fulfillment.stops[?(@.type=='END')].location.gps
      - key: on_search_1
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: select_1
        type: select
        unsolicited: false
        pair: on_select_1
        owner: BAP
        expect: false
      - key: on_select_1
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: init_1
        type: init
        unsolicited: false
        pair: on_init_1
        owner: BAP
        expect: false
      - key: on_init_1
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm_1
        type: confirm
        unsolicited: false
        pair: on_confirm_1
        owner: BAP
        expect: false
      - key: on_confirm_1
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: status_1
        type: status
        unsolicited: false
        pair: on_status_1
        owner: BAP
        expect: false
      - key: on_status_1
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: on_cancel
        type: on_cancel
        unsolicited: true
        pair: null
        owner: BPP
        expect: false 
  - id: Order to Confirm to Fulfillment (Updates in Booking)
    tags: ["PRAMAAN", "OPTIONAL","WORKBENCH"]
    description: Get a list of all the accommodations with delta changes
    sequence:
      - key: search_1
        type: search
        unsolicited: false
        pair: on_search_1
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
          - name: start_gps
            label: Enter start gps coordinates
            type: text
            payloadField: $.message.intent.fulfillment.stops[?(@.type=='START')].location.gps
          - name: end_gps
            label: Enter end gps coordinates
            type: text
            payloadField: $.message.intent.fulfillment.stops[?(@.type=='END')].location.gps
      - key: on_search_1
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: select_1
        type: select
        unsolicited: false
        pair: on_select_1
        owner: BAP
        expect: false
      - key: on_select_1
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: init
        type: init
        unsolicited: false
        pair: on_init
        owner: BAP
        expect: false
      - key: on_init
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm
        type: confirm
        unsolicited: false
        pair: on_confirm
        owner: BAP
        expect: false
      - key: on_confirm
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: status
        type: status
        unsolicited: false
        pair: on_status
        owner: BAP
        expect: false
      - key: on_status
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false  
      - key: update
        type: update
        unsolicited: false
        pair: on_update
        owner: BAP
        expect: false
      - key: on_update
        type: on_update
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
  