flows: 
  - id: Credit_card
    tags: ["WORKBENCH","REPORTABLE"]
    description: Credit card
    sequence:
      - key: search_cc 
        type: search
        unsolicited: false
        pair: on_search_cc
        owner: BAP
        expect: true
      - key: on_search_cc 
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: consumer_information_form_cc
        label: consumer information form
        type: HTML_FORM
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
        input:
          - name: form_submission_id
            label: Enter Form Submission id
            type: HTML_FORM
            reference: $.reference_data.consumer_information_form      
      - key: select_cc 
        type: select
        unsolicited: false
        pair: on_select_cc 
        owner: BAP
        expect: false
        force_proceed: true
      - key: on_select_cc
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: Ekyc_details_form_cc
        label: Ekyc Details form
        type: DYNAMIC_FORM
        unsolicited: false  
        pair: null
        owner: BPP
        expect: false
        input:
          - name: form_submission_id
            label: Enter Form Submission id
            type: DYNAMIC_FORM
            payloadField: "form_submission_id"
            reference: $.reference_data.Ekyc_details_form         
      - key: on_status_unsolicited_cc
        type: on_status
        unsolicited: true
        pair: null
        owner: BPP
        expect: false
        force_proceed: true

      - key: status_cc_1
        type: status
        unsolicited: false
        pair: on_status_cc_1
        owner: BAP
        expect: true

      - key: on_status_cc_1
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false

      - key: init_cc
        type: init
        unsolicited: false
        pair: on_init_cc
        owner: BAP
        expect: false
        force_proceed: true
      - key: on_init_cc
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm_cc
        type: confirm
        unsolicited: false
        pair: on_confirm_cc
        owner: BAP
        expect: false
        force_proceed: true
      - key: on_confirm_cc
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false      
      - key: status_cc_2 
        type: status
        unsolicited: false
        pair: on_status_cc_2
        owner: BAP
        expect: true
      - key: on_status_cc_2
        type: on_status
        unsolicited: false
        pair: null
        owner: BPP
        expect: false

  