flows:
  - id: Discovery_of_Insurer_Providers_and_Master_Policies
    tags: ["WORKBENCH", "MANDATORY"]
    description: Discovery of Insurer Providers and Master Policies
    sequence:
      - key: search_insurence_transit_provider
        type: search
        unsolicited: false
        pair: on_search_insurence_provider_transit
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
          - name: person_id
            label: Enter person id
            type: text
            payloadField: $.message.intent.fulfillment.agent.person.id  
      - key: on_search_insurence_provider_transit 
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
 
  - id: Discovery_of_Products_from_Master_Policies (Transit Insurance)
    tags: ["WORKBENCH", "MANDATORY"]
    description: Discovery of Products from Master Policies (Transit Insurance)
    sequence:
      - key: search_discover_product_transit
        type: search
        unsolicited: false
        pair: on_search_discover_product_tranist
        owner: BAP
        expect: true
        input:
          - name: city_code
            label: Enter city code
            type: text
            payloadField: $.context.location.city.code
          - name: policy_name
            label: Enter Policy ID
            type: text
            payloadField: $.message.intent.provider.tags[?(@.descriptor.code=="MASTER_POLICY")].list[?(@.descriptor.code=="POLICY_ID")].value
          - name: provider_id
            label: Enter Provider ID
            type: text
            payloadField: $.message.intent.provider.id
      - key: on_search_discover_product_tranist 
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
     
  - id: Purchase_Journey_Transit_Insurance
    tags: ["PRAMAAN", "MANDATORY", "REPORTABLE", "WORKBENCH"]
    description: Purchase Journey Transit Insurance
    sequence:
      - key: search_purchase_journey_transit
        type: search
        unsolicited: false
        pair: on_search_purchase_journey_transit
        owner: BAP
        expect: true
        input:
          - name: search_transit_fis13
            label: Enter
            type: search_transit_fis13
          
      - key: on_search_purchase_journey_transit
        type: on_search
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: select
        type: select
        unsolicited: false
        pair: on_select
        owner: BAP
        expect: false
        input:
          - name: select_input
            label: Enter
            type: fis13_select
      - key: on_select
        type: on_select
        unsolicited: false
        pair: null
        owner: BPP
        expect: true
      - key: init
        type: init
        unsolicited: false
        input:
          - name: nominee_name 
            label: Enter nominee name
            type: text
            payloadField: $.message.order.fulfillments[*].tags[*].list[?(@.descriptor.code=="NOMINEE_NAME")].value
        pair: on_init
        owner: BAP
        expect: false
      - key: on_init
        type: on_init
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: confirm
        type: confirm
        unsolicited: false
        pair: on_confirm
        owner: BAP
        expect: false
      - key: on_confirm
        type: on_confirm
        unsolicited: false
        pair: null
        owner: BPP
        expect: false
      - key: on_update
        type: on_update
        unsolicited: true
        pair: null
        owner: BPP
        expect: false